elemento {
    background-image: url('/trilha1/t4/img/ce4.jpg');
  }
  

  body {
    background-image: url('/trilha1/t4/img/ce4.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }
  

  a.link {
    color:black;
  }